{
  "parser": "babel-eslint",
  "extends": "react",
  "plugins": [],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-duplicate-imports": 0,
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "global-require": 0,
    "indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "require-jsdoc": ["error", { "require": { "FunctionDeclaration": true, "MethodDefinition": true, "ClassDeclaration": true, "ArrowFunctionExpression": true } }],
    "react/forbid-prop-types": [0, { "forbid": ["object"] }],
    "import/no-extraneous-dependencies": false,
    "jsx-a11y/anchor-is-valid": false,
    "react/no-danger": false
  },
  "globals": {
    "afterEach": false,
    "beforeEach": false,
    "afterAll": false,
    "beforeAll": false,
    "graphql": false,
    "describe": false,
    "it": false,
    "expect": false,
    "assert": false,
    "jest": false,
    "browser": false
  }
}
